<?xml version="1.0"?>
<model>
  <name>ArUco Marker ID 1</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Andrew Stirling</name>
    <email>andrew.stirling2@mail.mcgill.ca</email>
  </author>

  <description>
    <p>ArUco Marker 1</p>
  </description>
</model>