<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <!-- Launch your ROS node -->
    <node pkg="ros_aruco_gazebo" type="real_camera.py" name="real_camera" output="screen">
        <!-- Add any arguments your node script requires -->
        <!-- For example: <param name="param_name" value="param_value"/> -->
    </node>
    <!-- Launch image_view node -->
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <!-- Subscribe to the image topic published by your node -->
        <remap from="image" to="/real_cam_1/image_raw"/>
        <param name="autosize" value="true" />
    </node>
    <!-- Launch rviz node -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" launch-prefix="bash -c 'sleep 5; $0 $@'">
        <param name="rviz_config" value="$(find ros_aruco_gazebo)/rviz/config.rviz"/>
    </node> -->

</launch>