<?xml version="1.0"?>
<model>
  <name>Surgical Pointer</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
   <name>Andrew Stirling</name>
   <email>andrew.stirling2@mail.mcgill.ca</email>
  </author>

  <description>
    Surgical pointer model with dodecahedron base.
  </description>
</model>